body {
  margin: 10px;
  font-family: 'Droid Sans', Verdana, sans-serif;
}

.nav-pills a {
  font-family: Georgia, serif;
  font-size: 1.2em;
}

#market-scanner {
  background-color: white;
}

.selection-controls {
  margin-top: 40px;
}

select, input[type=text] {
  margin-bottom: 0;
}

input[type="text"].typeahead {
  width: 300px;
  margin-bottom: 15px;
}

.filter-container {
  padding-left: 0;
  margin-bottom: 20px;
}

#item-breakdown .filter-container div[class*="span"] {
  margin-left: 0;
}

.filter-container input[type="text"] {
  padding-top: 1px;
  padding-bottom: 1px;
}

#item-breakdown input.filter {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 80px;
}

#history-select {
  width: auto;
}

form#market-updater label {
  display: inline;
  margin-right: 10px;
}

form#market-updater input[type="radio"] {
  margin-top: 0;
}


