<div class="tab-pane" id="item-breakdown">
  <div class="container-fluid filter-container">
    <div class="row-fluid">
      <div class="span1">
        <label class="control-label">Solar System</label>
      </div>
      <div class="span11">
        <input type="text" id="solar-system">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span1">
        <label class="control-label">Margin</label>
      </div>
      <div class="span11">
        <i>Between</i> <input id="margin-min" type="text" class="filter margin"> <i>and</i> <input id="margin-max" type="text" class="filter margin">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span1">
        <label class="control-label">ISK volume</label>
      </div>
      <div class="span11">
        <i>Between</i> <input id="isk-min" type="text" class="filter isk"> <i>and</i> <input id="isk-max" type="text" class="filter isk">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span1">
        <label class="control-label">Volume</label>
      </div>
      <div class="span11">
        <i>Between</i> <input id="volume-min" type="text" class="filter isk"> <i>and</i> <input id="volume-max" type="text" class="filter isk">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span1">
        <label class="control-label">Buy price</label>
      </div>
      <div class="span11">
        <i>Between</i> <input id="buy-price-min" type="text" class="filter isk"> <i>and</i> <input id="buy-price-max" type="text" class="filter isk">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span1">
        <label class="control-label">Sell price</label>
      </div>
      <div class="span11">
        <i>Between</i> <input id="sell-price-min" type="text" class="filter isk"> <i>and</i> <input id="sell-price-max" type="text" class="filter isk">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span1">
        <label class="control-label">History</label>
      </div>
      <div class="span11">
        <select id="history-select">
          <option value="all">All</option>
          <option value="5">5 days</option>
          <option value="10">10 days</option>
          <option value="30" selected>Month</option>
          <option value="90">2 months</option>
          <option value="180">6 months</option>
          <option value="360">Year</option>
        </select>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <input id="button-filter" type="button" class="btn" value="Filter">
      </div>
    </div>
  </div>
</div>