<div class="tab-pane active" id="scanner">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        <form>
          <div class="control-group">
            <div class="controls">
              <div>Time left: <span id="market-scanner-timeleft"></span></div>
              <div>Scanned: <span id="market-scanner-progress">0</span>&nbsp;/&nbsp;<span id="itemCount">0</span></div>
              <div>Next item: <span id="market-scanner-next-item"></span></div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input id="market-scanner-interval" type="range" min="5" max="50" step="5">
              <span id="market-scanner-interval-label" for="market-scanner-interval"></span>
              <input id="market-scanner-item-slider" type="range" min="0" step="1" style="width: 400px; display: none;">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input class="btn" id="market-scanner-start" type="button" value="Start" />
              <input class="btn" id="market-scanner-reset" type="button" value="Reset" style="display: none;" />
              <input class="btn" id="market-scanner-back" type="button" value="&lsaquo;" style="display: none;" />
              <input class="btn" id="market-scanner-forward" type="button" value="&rsaquo;" style="display: none;" />
              <input class="btn" id="market-scanner-step-to" type="button" value="Step to" style="display: none;" />
            </div>
          </div>
          <div class="control-group selection-controls">
            <label>Presets</label>
            <div class="controls">
              <select id="market-scanner-preset-dropdown">
              </select>
              <input id="market-scanner-apply-preset" class="btn" type="button" value="Apply">
              <input id="market-scanner-delete-preset" class="btn" type="button" value="Delete">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input id="market-scanner-preset-name" type="text" placeholder="Name">
              <input id="market-scanner-save-preset" class="btn" type="button" value="Save current selection">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input class="btn" id="market-scanner-uncheck-all" type="button" value="Uncheck all">
            </div>
          </div>
        </form>
      </div>
      <div class="span8">
        <div id="market-scanner">Loading...</div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <form id="market-updater">
        <legend>Market order updater (copy/paste)</legend>
        <fieldset>
          <label><input type="radio" name="market-updater" value="buy"> Buy</label>
          <label><input type="radio" name="market-updater" value="sell"> Sell</label>
          <label><input type="radio" name="market-updater" value="off" checked> Off</label>
        </fieldset>
      </form>
      </div>
    </div>
  </div>
</div>