<div class="tab-pane" id="transactions">
  <form id="transaction-date-form">
    <div class="control-group">
      <label class="control-label" for="input-start-date">Start date</label>
      <div class="controls">
        <input id="input-start-date" type="date">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input-end-date">End date</label>
      <div class="controls">
        <input id="input-end-date" type="date">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="button" class="btn" value="Filter">
      </div>
    </div>
  </form>
  <p>
    <div><span id="earliest-date"></span> to <span id="latest-date"></span></div>
    <div>Total profit: <span id="total-profit"></span></div>
    <div>Profit per month (30 days): <span id="monthly-profit"></span></div>
  </p>
</div>