<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap-responsive.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/jquery.dataTables.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='app/css/style.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}

    {# Vendor javascript #}
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/bootstrap.datatables.pagination.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/jstree.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/bootstrap.min.js') }}"></script>

    {# Application javascript #}
    <script type="text/javascript" src="{{ url_for('static', filename='app/js/application.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app/js/scanner.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app/js/market.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app/js/tree.js') }}"></script>
  </body>
</html>
