{% extends "base.html" %}
{% block content %}
<ul class="nav nav-pills">
  <li class="active"><a href="#scanner" data-toggle="tab">Scanner</a></li>
  <li><a href="#market" data-toggle="tab">Market</a></li>
  <li><a href="#item-breakdown" data-toggle="tab">Item breakdown</a></li>
  <li><a href="#transactions" data-toggle="tab">Transactions</a></li>
</ul>
<div class="tab-content">
  {% include "_scanner_tab.html" %}
  <div class="tab-pane" id="market">
  </div>
  {% include "_item_breakdown_tab.html" %}
  {% include "_transactions_tab.html" %}
</div>
{% endblock %}